body{
	width: 1100px;
	margin: 0 auto;
	position: relative; /* added to check if puts nami viz in right place */
	font-family: 'Lato', Arial, serif;
	background: #ddd url(../images/bg.jpg) repeat top left;
	font-weight: 300;
	font-size: 16px;
	color: #777;
	padding: 20px 20px 20px 20px;
	-webkit-font-smoothing: antialiased;
}

/* added this to try to get nami viz in right place */

form {
  position: absolute;
  right: 10px;

} 

h1 {
	color: #555;	
}

input {
  margin: 0 7px;
}

/* end of stuff added this to try to get nami viz in right place */

a{
	color: #555;
	text-decoration: none;
}

ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:50px; line-height:50px;
    background:#3A0256; /* you can change the backgorund color here. */
    font-family: 'Lato', Arial, serif;
    font-weight: 700;
    font-size:19px;
    width: 1095px;
}
ul.nav li {
    border-right:1px solid #D3D3D3; /* you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display:block;
    padding:0 48px;
    color: #FFFFFF;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:#B9006E;
}

.container{
	width: 100%;
	position: relative;
}

.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 30px;
	line-height: 32px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header p{
	margin: 0;
	padding: 15px 0 5px 0;
	color: #888;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}