body{
	font-family: 'Lato', Arial, serif;
	background: #ddd url(../images/bg.jpg) repeat top left;
	font-weight: 300;
	font-size: 14px;
	color: #888;
	-webkit-font-smoothing: antialiased;
}

a{
	color: #555;
	text-decoration: none;
}

.container{
	width: 100%;
	position: relative;
}

.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 30px;
	line-height: 32px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header p{
	margin: 0;
	padding: 15px 0 5px 0;
	color: #888;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}